.advantage {
	&__icon {
		width: 56px;
		height: 56px;
		margin-bottom: 6px;
	}

	&__title {
		margin-bottom: 12px;
		font-size: 22px;
		line-height: 1.2;
		font-weight: 500;
	}

	&__text {
		font-size: 15px;
	}
}
