.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	text-align: center;
	white-space: nowrap;
	transition: color $transition-default, background-color $transition-default;

	&:hover {
	}

	&--with-icon {
		padding: 2px 2px 2px 22px;
		border: 2px solid var(--color-black);
		border-radius: 70px;
		background-color: var(--color-black);
		font-size: 18px;
		color: var(--color-white);

		&:hover {
			background-color: var(--color-black-op75);
		}
	}

	&__icon {
		flex-shrink: 0;
		width: 44px;
		height: 44px;
		margin-left: 11px;
	}

	&--outline-black {
		padding: 13px 20px;
		border: 1px solid var(--color-black);
		border-radius: 70px;
		font-size: 15px;
		line-height: 18px;
		color: var(--color-black);

		&:hover {
			background-color: var(--color-black);
			color: var(--color-white);
		}
	}

	&--transparent {
		padding: 13px 20px;
		border-radius: 70px;
		font-size: 15px;
		line-height: 18px;
		color: var(--color-black);

		&:hover {
			background-color: var(--color-black-op08);
		}
	}
}
