.footer {
	display: flex;
	justify-content: space-between;
	padding-top: 21px;
	padding-bottom: 10px;
	border-top: 1px solid var(--color-black-op10);
	color: var(--color-black-op50);

	@include desktop {
		padding-top: 16px;
		padding-bottom: 100px;
	}

	&__col {
		display: flex;
		flex-direction: column;

		@include desktop {
			flex-direction: row;
			align-items: center;
		}

		&--left {
			font-size: 14px;
			line-height: 17px;

			@include desktop-xl {
				font-size: 15px;
				line-height: 18px;
			}

			& > * {
				margin-bottom: 16px;

				@include desktop {
					margin-right: 12px;
					margin-bottom: 0;
				}
			}
		}

		&--right {
			font-size: 12px;
			line-height: 14px;

			& > * {
				margin-bottom: 8px;

				@include desktop {
					margin-bottom: 0;
					margin-left: 16px;
				}
			}

		}
	}

	&__logo {
		max-width: 110px;
		margin-bottom: 16px;

		@include desktop {
			margin: 0 40px 0 0;
		}

		@include desktop-xl {
			max-width: 165px;
		}
	}

	&__link {
		color: var(--color-black);

		&:hover {
			text-decoration: underline;
		}
	}

	&__grey-link {
		transition: color $transition-default;

		&:hover {
			color: var(--color-black);
			text-decoration: underline;
		}
	}

	&__copyright {
		@include desktop {
			display: none;
		}
		@include desktop-xl {
			display: block;
		}
	}
}
