.list-with-numbers {
	display: block;
	counter-reset: nums;

	&__elem {
		position: relative;
		display: block;
		margin-top: 40px;
		padding: 11px 0 21px;
		border-top: 1px solid var(--color-black-op10);
		counter-increment: nums;

		@include desktop {
			padding: 12px 0 27px;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		&::before {
			position: absolute;
			top: -40px;
			left: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-width: 56px;
			padding: 4px;
			background-color: var(--color-white);
			border-radius: 20px;
			font-size: 16px;
			line-height: 1;
			color: var(--color-black-op50);
			content: "0"counter(nums);
		}
	}
}
