.section-hero {
	padding-top: 68px;
	padding-bottom: 26px;
	background-color: var(--color-block-bg);

	@include tablet {
		padding-top: 94px;
		padding-bottom: 34px;
	}

	@include desktop {
		padding-bottom: 50px;
	}

	&__content {
		@include tablet {
			text-align: center;
		}

		@include desktop {
			max-width: 560px;
			padding-top: 20px;
			text-align: left;
		}
	}

	&__text-box {
		max-width: 500px;
		margin: 0 auto;

		@include desktop {
			max-width: unset;
			margin: unset;
		}
	}

	&__title {
		margin-bottom: 24px;

		@include desktop {
			margin-bottom: 32px;
		}
	}

	&__text {
		margin-bottom: 24px;
		font-size: 17px;

		@include desktop {
			margin-bottom: 30px;
			font-size: 20px;
		}
	}

	&__link {
		margin-bottom: 64px;

		@include tablet {
			margin-bottom: 48px;
		}

		@include desktop {
			margin-bottom: 68px;
		}
	}

	&__list-box {
		padding-top: 8px;
		border-top: 1px solid var(--color-black-op10);
	}

	&__note {
		margin-bottom: 24px;
	}

	&__list {
	}

	&__box {
		position: relative;
		max-width: 500px;
		margin-bottom: 24px;

		@include tablet {
			margin: 0 auto 48px;
		}

		@include desktop {
			max-width: 100%;
			margin: 0;
		}
	}

	&__img {
		position: absolute;
		z-index: 1;

		&--n1 {
			top: 21%;
			left: 45%;
			width: 44.9%;

			@include tablet {
				top: 13%;
				left: -6px;
				width: 41.9%;
			}

			@include desktop {
				top: 20%;
				left: -10px;
			}
		}

		&--n2 {
			top: 61%;
			left: 45%;
			width: 35.8%;

			@include tablet {
				top: 52%;
				right: 3%;
				left: unset;
				width: 32.8%;
			}

			@include desktop {
				top: 58%;
				right: 6%;
			}
		}
	}

	&__video-box {
		position: relative;
		width: 64%;
		border: 1px solid var(--color-white);
		border-radius: 20px;
		background-color: var(--color-black-op10);
		transform: translate(-8px);

		&::before {
			display: block;
			padding-top: 130%;
			content: "";
		}

		@include tablet {
			margin: 0 auto;

			&::before {
				padding-top: 136%;
			}
		}

		@include desktop {
			width: 62%;
			border-radius: 28px;
			transform: translate(-24px);

			&::before {
				padding-top: 140%;
			}
		}
	}

	&__video {
		position: absolute;
		top: 7px;
		left: 7px;
		width: calc(100% - 14px);
		height: calc(100% - 14px);
		object-fit: cover;
		border-radius: 12px;

		@include desktop {
			border-radius: 22px;
		}
	}
}
