.section-offer {
	padding-top: 42px;
	padding-bottom: 32px;

	@include desktop {
		padding-top: 64px;
	}

	&__panel {
		position: relative;
		padding-top: 56px;
		padding-bottom: 310px;
		border-radius: 40px;

		@include tablet {
			padding-bottom: 212px;}

		@include desktop {
			padding-bottom: 146px;
		}
	}

	&__content {
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		margin: 0 auto 32px;
		max-width: 333px;

		@media (max-width: $breakpoint-desktop) {
			font-size: 30px;
		}

		@include tablet {
			max-width: unset;
		}

		@include desktop {
			margin-bottom: 56px;
		}

	}

	&__text {
		margin-bottom: 12px;
		font-size: 17px;

		@include desktop {
			font-size: 24px;
		}
	}

	&__img {
		position: absolute;
		bottom: 0;

		&--left {
			left: 0;
			max-width: 351px;

			@include desktop {
				max-width: 395px;
			}

			@include desktop-xl {
				max-width: 510px;
			}
		}

		&--right {
			display: none;
			right: 0;
			max-width: 302px;

			@include tablet {
				display: block;
			}

			@include desktop {
				max-width: 395px;
			}

			@include desktop-xl {
				max-width: 473px;
			}
		}
	}

	&__link {
		margin-top: 32px;

		@include desktop {
			margin-top: 56px;
		}
	}
}
