/* Antonym */

@font-face {
	font-family: 'Antonym';
	src: url('../fonts/antonym/antonym.eot');
	src: local('Antonym'),
	url('../fonts/antonym/antonym.eot?#iefix') format('embedded-opentype'),
	url('../fonts/antonym/antonym.woff2') format('woff2'),
	url('../fonts/antonym/antonym.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Antonym';
	src: url('../fonts/antonym/antonym-italic.eot');
	src: local('Antonym Italic'), local('Antonym-Italic'),
	url('../fonts/antonym/antonym-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/antonym/antonym-italic.woff2') format('woff2'),
	url('../fonts/antonym/antonym-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Antonym';
	src: url('../fonts/antonym/antonym-light.eot');
	src: local('Antonym Light'), local('Antonym-Light'),
	url('../fonts/antonym/antonym-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/antonym/antonym-light.woff2') format('woff2'),
	url('../fonts/antonym/antonym-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-display: swap;
	font-family: 'Antonym';
	src: url('../fonts/antonym/antonym-light-italic.eot');
	src: local('Antonym Light Italic'), local('Antonym-LightItalic'),
	url('../fonts/antonym/antonym-light-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/antonym/antonym-light-italic.woff2') format('woff2'),
	url('../fonts/antonym/antonym-light-italic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-display: swap;
	font-family: 'Antonym';
	src: url('../fonts/antonym/antonym-medium.eot');
	src:
		url('../fonts/antonym/antonym-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/antonym/antonym-medium.woff2') format('woff2'),
		url('../fonts/antonym/antonym-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


/* Golos */

@font-face {
	font-display: swap;
	font-family: 'Golos Text';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/golos/golos-text-v4-cyrillic_latin-regular.eot');
	src: url('../fonts/golos/golos-text-v4-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/golos/golos-text-v4-cyrillic_latin-regular.woff2') format('woff2'),
	url('../fonts/golos/golos-text-v4-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Golos Text';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/golos/golos-text-v4-cyrillic_latin-500.eot');
	src: url('../fonts/golos/golos-text-v4-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'),
	url('../fonts/golos/golos-text-v4-cyrillic_latin-500.woff2') format('woff2'),
	url('../fonts/golos/golos-text-v4-cyrillic_latin-500.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Golos Text';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/golos/golos-text-v4-cyrillic_latin-700.eot');
	src: url('../fonts/golos/golos-text-v4-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'),
	url('../fonts/golos/golos-text-v4-cyrillic_latin-700.woff2') format('woff2'),
	url('../fonts/golos/golos-text-v4-cyrillic_latin-700.woff') format('woff');
}
