mixin footer()
	footer.footer.container.container--fluid
		.footer__col.footer__col--left
			img.footer__logo(src="images/logo.svg", alt="Soloteam")
			p По любым вопросам:
				|
				|
				a.footer__link(href="mailto:") info@soloteam.io
			p Telegram:
				|
				|
				a.footer__link(href="https://t.me/soloteam") @soloteam
		.footer__col.footer__col--right
			p ИНН 230114835738
			a.footer__grey-link(href="#", target="blank", rel="noreferrer noopener") Политика конфиденциальности
			p Все права защищены © 2023
