mixin header()
	header.header.container.container--fluid
		img.header__logo(src="images/logo.svg", alt)
		nav.header__nav
			ul.header__nav-list
				li.header__nav-elem
					a.header__nav-link(href="#about") О нас
				li.header__nav-elem
					a.header__nav-link(href="#how-it-works") Как работает
				li.header__nav-elem
					a.header__nav-link(href="#advantages") Преимущества
				li.header__nav-elem
					span.header__nav-text Блог
				li.header__nav-elem
					span.header__nav-text Фрилансерам
					span.header__nav-label скоро
		.header__button-box
			a.button.button--transparent.header__button.header__button--login(href="#") Вход
			a.button.button--outline-black-mobile.header__button(href="#") Начать бесплатно
			button.header__menu-btn(aria-label="Мобильное меню")
				+svg("burger")(class="header__menu-btn-icon header__menu-btn-icon--burger")
				+svg("close")(class="header__menu-btn-icon header__menu-btn-icon--close")
