.row {
	display: flex;
	margin: 0 -16px;
	flex-direction: column-reverse;

	@include desktop {
		flex-direction: row;
	}

	&--reverse {
		@include desktop {
			flex-direction: row-reverse;
		}
	}

	&__elem {
		width: 100%;
		padding: 0 16px;

		.row--cols-2 & {
			@include desktop {
				max-width: 50%;
			}
		}
	}
}
