$breakpoint-desktop-xxl: 1920px;
$breakpoint-desktop-xl: 1440px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;

@mixin desktop-xxl {
	@media (min-width: $breakpoint-desktop-xxl) {
		@content;
	}
}

@mixin desktop-xl {
	@media (min-width: $breakpoint-desktop-xl) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $breakpoint-desktop) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $breakpoint-tablet) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: $breakpoint-tablet) {
		@content;
	}
}
